.divRecomendaciones {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
}
.tituloRecomendaciones {
  margin-bottom: 5px;
}
.ulRecomendaciones {
  list-style-type: decimal;
}
.bannerRecomendaciones {
  display: flex;
  margin: 0 auto;
  width: calc(60% - 20px);
  margin-top: 100px;
}

@media (width <= 768px) {
  .divRecomendaciones {
    width: 100%;
  }
  .bannerRecomendaciones {
    width: 100%;
  }
}
