.mainHome {
  background-color: #efefef;
  height: max-content;
  padding-top: 100px;
  padding-bottom: 200px;
  width: 100%;
}
.nuestrosProductosTitulo {
  text-align: center;
  margin-bottom: 20px;
}
@media (width <= 1023px) {
  .mainHome {
    padding-top: 40px;
  }
}
@media (width <= 768px) {
  .mainHome {
    padding-bottom: 0px;
  }
}
