footer {
  display: flex;
  background-color: #2a2b2a;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 999;
}
.izquierdaFooter {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logoFooter {
  width: 50px;
  height: 60px;
}
.firmaFooter {
  color: white;
}

.bi-instagram,
.bi-whatsapp {
  width: 20px;
  height: 20px;
  fill: white;
}
.horarios {
  display: none;
}
.derecha {
  display: flex;
  gap: 20px;
}
@media (width > 1023px) {
  .derecha {
    gap: 20px;
  }
  .horarios {
    display: flex;
    flex-direction: column;
  }
  .ulHorarios {
    list-style-type: none;
  }
  .liHorarios {
    font-size: 12px;
    color: white;
  }
  .tituloHorarios {
    color: white;
    margin-bottom: 10px;
  }
}
@media (width < 900px) {
  .derecha {
    gap: 10px;
  }
}
